<footer >
    <div class="join">
        <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt="logo">
        <button type="button">Hi hoang4326!</button>
    </div>
    <div class="basic">
        <ul>
            <li><h3>THE BASICS</h3></li>
            <li><a routerLink="/#">Giới thiệu về TMDB</a></li>
            <li><a routerLink="/#">Contact Us</a></li>
            <li><a routerLink="/#">Support Forums</a></li>
            <li><a routerLink="/#">API</a></li>
            <li><a routerLink="/#">System Status</a></li>
        </ul>
    </div>
    <div class="involved">
        <ul>
            <li><h3>GET INVOLVED</h3></li>
            <li><a routerLink="/#">Contribution Bible</a></li>
            <li><a routerLink="/#">Add New Movie</a></li>
            <li><a routerLink="/#">Add New TV Show</a></li>
        </ul>
    </div>
    <div class="community">
        <ul>
            <li><h3>COMMUNITY</h3></li>
            <li><a routerLink="/#">Guidelines</a></li>
            <li><a routerLink="/#">Discussions</a></li>
            <li><a routerLink="/#">Leaderboard</a></li>
            <li><a routerLink="/#">Twitter</a></li>
        </ul>
    </div>
    <div class="legal">
        <ul>
            <li><h3>LEGAL</h3></li>
            <li><a routerLink="/#">Terms of Use</a></li>
            <li><a routerLink="/#">API Terms of Use</a></li>
            <li><a routerLink="/#">Privacy Policy</a></li>
        </ul>
    </div>
</footer>
